body {
    background-color: rgb(222, 255, 245);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:50px;
    padding:30px;
    
}

img {
    max-width:500px;
    height: auto;
}

li{
    border-bottom:  1px solid rgb(72, 30, 123);
    font-weight:bolder;
    padding: 10px;
}

.post{
    border-bottom: 1px;
    border-style:groove;
    padding:20px;
}
.game-table{
    align-items: center;
    font-size: large;
    text-align: center;
    line-break: normal;
}

aside{
    color: grey;
    border-top: 1px dotted grey;
}

form{
    margin-top: 30px;
    line-height: 1.5em;
}

h2{
    color: rgb(72, 30, 123);
    font-weight: bolder;
    border-top-left-radius: 1px;
}

header{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: xx-large;
    border-bottom: 3px solid black;
    color: rgb(72, 30, 123);
    
}
h3{
    color: rgb(72, 30, 123);
font-weight: bold;
}

h4{
    color: rgb(72, 30, 123);

}
.contact-section{
    display: flex;
}
.contact-form{
    flex-direction: column;
    align-items:baseline;
    position: absolute;
    bottom: 100px;
    }

div{
    padding: 5px;
}
img{
    float:right;
    padding-left: 20px;
}